@import 'mixinsVariables';



/*==========  ID Rules  ==========*/
#socials {
    color: $Grey;
    letter-spacing: 5px;
    text-transform: uppercase;
    @include Container(85%, 100%, 20px auto 10px auto);
    @include flexSetup(nowrap, row, space-between);

    img {
        @include Container(20px, 20px, 0 15px);
    }
}

#desktop {
    @include minWidth(820px) {
        @include Container(50%, fit-content, 20% 10%);

        div {
            @include Stroke;
            position: relative;   
        }
    }

    @include minWidth(1336px) {
        @include Container(35%, fit-content, 15% 10%)
    }
}

#bottom-menu {
    @include Container(100%, 76px, 0);
    @include flexSetup(nowrap, row, normal);
    position: fixed;
    bottom: 0;

    article {
        background: $BlackBack;
        @include Container(33.2%, 100%, 0 auto);

        :hover {
            cursor: pointer;
            border-top: solid 5px $MarvelRed; 
           
            p {
                color: $White;
            }
        }
        p {
            color: $Grey; 
            font-size: 13px;
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
            @include Container(100%, 30%, 0% auto);
            padding-top: 20%;
        }    
    }
}



/*==========  Class Rules  ==========*/
.profile-wrapper {
    margin-bottom: 10%;
    border-bottom: solid 1px $WhiteSmoke;
    @include minWidth(820px) {
        position: relative;

        #bottom-menu {
            @include absoluteSet;
            @include Container(409px, 70px, 500px 0px 0px 10%);

            p {
                font-size: 10px;
            }
        }
    }
}

.latest-news {
    color: $White;
    padding: 20px 0px;
    background: $TrueBlack;
    @include Container(100%, 100%, 0% auto);
    
    .stroke {
     @include Stroke;
     position: relative;
     margin: 0 5%;
     text-transform: uppercase;  
     font-size: 15px;
    } 

    .articles {
        @include Container(90%, 100%, 5% auto);
        @include flexSetup(wrap, row, normal);
        align-items: normal;
    
        .article {
            @include Container(47%, 100%, 20px auto);

            a {
                color: $White;
            }
    
            img {
                @include Container(100%, 100%, 0);
            }
    
            h5 {
                margin: 5px 0px;
                font-weight: bolder;
            }
        }
    }

    @include minWidth(820px) {
        .stroke {
            margin: 0 10%;
        }

        .articles {
            @include Container(80%, 100%, 3% auto);

            .article {
                @include Container(23%, 100%, 0 auto);
            }
        }

        
    }
}




/*==========  Element Rules  ==========*/
section {
    background: $BlackBack;
    @include Container(100%, 550px, 0% auto);
    min-height: 290px;
    @include flexSetup(nowrap, column, normal);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0 100%);

    .intro-image {
        background-image: url(../img/intro_background.jpg);
        background-position: top;
        @include Container(100%, 100%, 0% auto);  
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .info {
        color: $White;
        @include Container(80%, 70%, 10% auto);

        h1 {
            font-size: 30px;
        }

        h1, h3 {
            margin: 10px 0px;
            text-transform: uppercase;
        }
    }


    @include minWidth(820px) {
        position: relative;

        .info {
            @include absoluteSet;
            @include Container(100%, 100%, 0%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);

            h3 {
                font-size: 13px;
                font-weight: 500;                
            }

        }
    }
}



