@import 'mixinsVariables';



/*==========  ID Rules  ==========*/
#close {
    display: none;
    overflow: hidden;
}

#align {
    height: 52px;
}

#social-media {
    position: fixed;
    bottom: 0;
    @include flexSetup(wrap, row, space-around);
    @include Container(100%, fit-content, 40px auto);

    img {
        @include Container(20px, 20px, 0);
    }

    @include landscapeSet {
        position: relative;
    }
}

/*==========  CLass Rules  ==========*/
.icons {
    @include Container(20px, 20px, 0);
}



/*==========  Element Rules  ==========*/
header {
    color: $White;
    border-bottom: 1px solid $WhiteSmoke;
    @include Container(100%, 100%, 0% auto);

    .desktop {
        display: none;
    }

    .icon-wrapper {
        color: $White;
        background: $BlackBack;
        @include flexSetup(wrap, row, space-around);
    }

    li {
        font-size: 20px;
        padding: 15px 0px;
        font-weight: bolder;
        @include flexSetup(wrap, row, space-between);
    }

    .menu {
        z-index: 5;
        display: block;
        @include absoluteSet;
        background: $BlackBack;
        text-transform: uppercase;
        @include Container(100vw, fit-content, 0);
        min-height: 100vh;

        .menu-items {
            @include Container(90%, fit-content, 10% auto);
        }

        ul {
            @include Container(100%, fit-content, 0);
        }
        
        

        .profile-details {
            padding: 20px 0px;
            @include Container(100%, fit-content, 0% auto);
            border-top: 1px solid $WhiteSmoke;
            border-bottom: 1px solid $WhiteSmoke;

            h2 {
                color: $Orange;
                font-size: 13px;
                text-align: left;
                margin-left: 5%;
            }
        }
    }

    @include minWidth(820px) {

        .desktop {
            display: block;
            height: 52px;
            margin: 0px auto;
            text-transform: uppercase;
            border-left: 0.5px solid $WhiteSmoke;
            border-right: 0.5px solid $WhiteSmoke;

            li {
                margin: 10px 17px;;
                padding: 0px;
                font-size: 12px;
                font-weight: bolder;
                line-height: 20px;


                img {
                    height: 28px;
                    margin-right: 10px;
                }
            }
        }

        @include Container(100%, 115px, 0);
        overflow: hidden;

        #close {
            display: block;
        }

        .menu {
            position: relative;
            min-height: 0;
            z-index: 0;
            text-align: center;
            border-top: 1px solid $WhiteSmoke;
            @include Container(100%, fit-content, 0);


            .menu-items {
                @include Container(70%, 100%, 10px auto);

                li {
                    font-size: 15px;
                    margin: 0px 10px;
                    display: inline-block;
                    @include menuSelect;
                }
            }
        }
        .remove, .profile-details {
            display: none !important;
            .social-media {
                margin: 0;
            }
        }
    }
}